apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: unique-httproute-host
  annotations:
    policies.kyverno.io/title: Unique HTTPRoute Host
    policies.kyverno.io/category: Sample
    policies.kyverno.io/severity: medium
    policies.kyverno.io/subject: WebApp
    policies.kyverno.io/minversion: 1.6.0
    policies.kyverno.io/description: >-
      An HTTPRoute hostname is a URL at which services may be made available externally. In most cases,
      these hostnames should be unique across the cluster to ensure no routing conflicts occur.
      This policy checks an incoming WebApp resource to ensure its FQDN is unique across existing HTTPRoutes.
      It also ensures that only a single hostname may be specified in a given manifest.
spec:
  validationFailureAction: Audit
  background: false
  rules:
    - name: check-single-host-create
      match:
        any:
        - resources:
            kinds:
              - WebApp
      context:
        - name: hosts
          apiCall:
            urlPath: "/apis/gateway.networking.k8s.io/v1/httproutes"
            jmesPath: "items[].spec.hostnames[]"
      preconditions:
        all:
        - key: "{{request.operation || 'BACKGROUND'}}"
          operator: Equals
          value: CREATE
      validate:
        message: "The Webapp FQDN must be unique."
        deny:
          conditions:
            all:
              - key: "{{ request.object.spec.fqdn }}"
                operator: AnyIn
                value: "{{ hosts }}"
    - name: check-single-host-update
      match:
        any:
        - resources:
            kinds:
              - WebApp
      preconditions:
        all:
        - key: "{{request.operation || 'BACKGROUND'}}"
          operator: Equals
          value: UPDATE
      context:
        - name: allhosts
          apiCall:
            urlPath: "/apis/gateway.networking.k8s.io/v1/httproutes"
            jmesPath: "items[?metadata.uid!='{{ request.object.metadata.uid }}'].spec.hostnames[]"
      validate:
        message: "The Webapp FQDN must be unique."
        deny:
          conditions:
            all:
              - key: "{{ request.object.spec.fqdn }}"
                operator: AnyIn
                value: "{{ allhosts }}"
